<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forgotPass.css">
</head>
<body>
    <div class="container" id="container">
        <div class="centered">
        <div class="form-container sign-in-container">
            <form action="/auth/forgotPassword" method="POST">
                <h1 class="signin">Forgot Password</h1>
                <br>
                <input type="email" name="email" placeholder="Email" />
                <br>
                <button>Reset Password</button>
            </form>
        </div>
        </div>
        <div class="overlay-container">
            <div class="overlay"> 
                 <!-- <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div> -->
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                     <img class="cp-logo" src="images/cp-logo.png" alt="">
                     <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div> 
            </div> 
        </div>
    </div>
</body>
</html>