<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminHome.css">
    <title>Document</title>
</head>
<body>
    <div>
    <div class="col-md-12">
        <div class="flex-container">
            <div class="item-Box">
                <h1>No of products :<%= length %></h1>
            </div>
          </div> 
    </div>
    <div class="col-md-12">
        <div class="flex-container">
           
          </div> 
    </div>
</div>   
</body>
</html>