<%- include("adminHeader") -%>
        <h4 style="padding-left: 20px;padding-top: 7px;padding-bottom: 7px;background-color:green;max-width:100%;color:white">Time: <span id="txt"></span></h4>
        <div>
            <div class="flex-container flex">
                <div class="item-Box">
                    <h1 class="item-Box-text">Products in DB <br>📦<%= length %></h1>
                </div>
                <div class="item-Box">
                    <h1 class="item-Box-text">Prices updated on ⏲️</h1>
                </div>
                <div class="item-Box failure">
                    <h1 class="item-Box-text">Track Failures<br>❌<span class="failure-val">0</span></h1>
                </div>
            </div> 
           
        </div>   
    </body>
</html>