<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="/images/cp-logo.png"  width="60" height="60" alt="loading">
            <a class="navbar-brand" href="#">CheapPricer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
            </div>
          </nav>

    <div class="head-container">
        <div class="content-container">
            <div class="content">
            <h1 class="head_content">Hai hello how are you hope you are fine</h1>
            <br>
            <h6 class="subText">
                http://autocarsale.sunnylandingpages.com/ 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem saepe corporis quaerat repudiandae reiciendis, rerum natus doloribus ad incidunt obcaecati facilis nesciunt odio! Iure corrupti sit dolorem doloribus molestias?</h6>
            <br>
            <button class="btn btn-danger button">start shopping now!</button>
            </div>
        </div>
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfQjBqIF4Kf2aSdXWlfLo7h58OJlpaz36VFA&usqp=CAU"
              width="400" height="450" alt="">
        </div>
    </div>
</div>
</body>
</html>